﻿- title = "Auth";

html
  include includes/head

body.ui
  div.pattern-cell.login: div
    div.substrate
      if error
        p(style="color: red").
          #{error}
      form(action="/auth", method="post")
        div.textbox: input(type="text", name="username", placeholder="Name")
  
        div.textbox.icon
          i.fa.fa-user
          input(type="text", name="login", placeholder="Login")
  
        div.textbox.icon
          i.fa.fa-lock
          input(type="password", name="password", placeholder="Password")
  
        button.rectangular.green(type="submit")
          i.fa.fa-sign-in
          span Log In
