﻿- title = "Friends: List & Requests";

html
  include includes/head

body.ui
  include includes/navigation
  div.page-wrapper: div.page
    div.grid-container
      div.grid-column.col-50
        div.substrate
          h1 Inbox

          div.list-of-users: ul
            if inboxFriends
              each item in inboxFriends
                li
                  a(href="/profile/" + item.friendId): span #{item.username}
    
                  div.control
                    button.clear
                      i.fa.fa-check
    
                    button.clear
                      i.fa.fa-times

      div.grid-column.col-50
        div.substrate
          h1 Outbox

          div.list-of-users: ul
            if outboxFriends
              each item in outboxFriends
                li
                  a(href="/profile/" + item.friendId): span #{item.username}
    
                  div.control
                    button.clear
                      i.fa.fa-times

      div.grid-column
        div.substrate
          h1 My Friends

          div.list-of-users: ul
            if friends
              each item in friends
                li
                  a(href="/profile/" + item.friendId): span #{item.username}
    
                  div.control
                    button.clear
                      i.fa.fa-times
                      span Remove from friends
