- title = "Index";

html
  include includes/head

body.ui
  include includes/navigation
  div.page-wrapper: div.page
    div.grid-container
      div.grid-column.col-60
        div.substrate
          h2 #{message}
