div.navigation
	ul
		li
			a(href="/").button.rectangular
				i.fa.fa-home
				span Home
		li
			a(href="/profile").button.rectangular
				i.fa.fa-user
				span Profile
		li.active
			a(href="/friends").button.rectangular
				i.fa.fa-users
				span Friends
		li
			a(href="/search").button.rectangular
				i.fa.fa-search
				span Search
